<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belajar List</title>
</head>

<body>
    <div id="app">
        <!-- Menampilkan Data Array -->
        <h1>Array</h1>
        <li v-for="(book, index) in books">
            {{ index+1 }}. {{ book }}
        </li>

        <br>
        <!-- Menampilkan Data Object -->
        <h1>Object</h1>
        <li v-for="(value, key) of book">
            {{ key }} : {{ value }}
        </li>

    </div>

    <script src="lib/vue.js"></script>
    <script>
        var hello = new Vue({
            el: '#app',
            data: {
                // array
                books: [
                    'C++ High Performance',
                    'Mastering Linux Security and Hardening',
                    'Python Programming Blueprints',
                    'Mastering PostgreSQL 10'
                ],
                // object
                book: {
                    id: 99,
                    title: 'C++ High Performance',
                    description: 'Write code that scales across CPU registers, multi-core,and machine clusters',
                    authors: 'Viktor Sehr, Björn Andrist',
                    publish_year: 2018,
                    price: 100000,
                },
                // collection

            }
        });
    </script>

</body>

</html>