<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belajar Vue Collection</title>
</head>

<body>
    <div id="app">
        <table border=1>
            <tr v-for="(book, index) of books" :key="index" v-if="book.price > 75000">
                <td>
                    <img width=100 :src="'images/books/' + book.image" />
                </td>
                </td>
                <td>
                    title: {{ book.title }} <br>
                    description: {{ book.description }} <br>
                    authors: {{ book.authors }} <br>
                    price: {{ book.price }}
                </td>
            </tr>
        </table>
    </div>

    <script src="lib/vue.js"></script>
    <script>
        var hello = new Vue({
            el: '#app',
            data: {
                books: [
                    {
                        id: 99,
                        title: 'C++ High Performance',
                        description: 'Write code that scales across CPU registers, multicore, and machine clusters',
                        authors: 'Viktor Sehr, Björn Andrist',
                        publish_year: 2018,
                        price: 100000,
                        image: 'c++-high-performance.png'
                    },
                    {
                        id: 100,
                        title: 'Mastering Linux Security and Hardening',
                        description: 'A comprehensive guide to mastering the art of preventing your Linux system from getting compromised',
                        authors: 'Donald A. Tevault',

                        publish_year: 2018,
                        price: 125000,
                        image: 'mastering-linux-security-and-hardening.png'
                    },
                    {
                        id: 101,
                        title: 'Mastering PostgreSQL 10',
                        description: 'Master the capabilities of PostgreSQL 10 toefficiently manage and maintain your database',
                        authors: 'Hans-Jürgen Schönig',
                        publish_year: 2016,
                        price: 90000,
                        image: 'mastering-postgresql-10.png'
                    },
                    {
                        id: 102,
                        title: 'Python Programming Blueprints',
                        description: 'How to build useful, real-world applications in the Python programming language',
                        authors: 'Daniel Furtado, Marcus Pennington',
                        publish_year: 2017,
                        price: 75000,
                        image: 'python-programming-blueprints.png'
                    },
                ]
            }
        });
    </script>

</body>

</html>